@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1c914d;
  --secondary: #63610e;
  --danger: #ce5454;
}

html.dark {
  --background: #181818;
  --foreground: #ffffff;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --color-primary-hover: color-mix(in srgb, var(--primary) 85%, black);
  --color-input-primary: var(--primary);
  --color-dark-line: var(--color-gray-800);
  --font-family: 'Montserrat', sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  font-size: 0.8rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}
